*/dominguez_conde_immune_tissue_two_donors (1).h5ad
dominguez_conde_immune_tissue_two_donors (1).h5ad

*/dominguez_conde_immune_tissue_two_donors.h5ad
dominguez_conde_immune_tissue_two_donors.h5ad

/models/scGPT/best_model.pt
.venv/
.vscode/
scGPT Cell Centences/processed
notebooks/c2s_donor_new_approach/tmp_c2s_notebook_model/.cache
notebooks/c2s_donor_new_approach/tmp_c2s_notebook/donor_subset
notebooks/c2s_donor_new_approach/tmp_c2s_notebook_model/pretrained_c2s_inference
notebooks/c2s_tutorial_style/runs^

.claude/
/notebooks/c2s_donor_new_approach/scgpt_checkpoint
/notebooks/c2s_donor_new_approach/tmp_c2s_masked
/notebooks/c2s_donor_new_approach/tmp_c2s_original
/notebooks/c2s_donor_new_approach/tmp_c2s_reconstructed
/notebooks/c2s_donor_new_approach/tmp_c2s_reconstruction_model
Gold_Kaggle/.venv
bert/outputs_distilbert
bert/outputs_distilbert_Weightbalance

outputs/
bert/outputs_distilbert_weightbalance_newLoss